<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>枫枫知道|企业微信API接口</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/c/font_3689511_m7q7n928oe.css">
</head>
<body>
<div id="app">
    <header>
        <div class="right">
            <a class="item" href="#">
                API文档
            </a>
            <span>|</span>
            <a class="item" href="http://www.fengfengzhidao.com/">
                枫枫知道
            </a>
        </div>
    </header>
    <main>
        <div class="slogan">
            <div class="title">
                枫枫知道企业微信API
            </div>
            <div class="cropid">
                企业ID：{{ cropid }}
            </div>
        </div>
        <div class="actions">
            <div class="action_item">
                <div class="action_play">文档</div>
                <div class="action_hover">DOCS</div>
                <i class="iconfont icon-wendang"></i>
            </div>
            <div class="action_item">
                <div class="action_play">发送消息</div>
                <div class="action_hover">852</div>
                <i class="iconfont icon-jijianfasong-xianxing"></i>
            </div>
            <div class="action_item">
                <div class="action_play">接收消息</div>
                <div class="action_hover">549</div>
                <i class="iconfont icon-xiaoxi"></i>
            </div>
            <div class="action_item">
                <div class="action_play">应用数</div>
                <div class="action_hover">{{ app_count }}</div>
                <i class="iconfont icon-yingyongchengxu"></i>
            </div>
        </div>

        <div class="app_list">
            {% for (key, item) in app_list.items() %}
                <div class="app_item">

                    <div class="left">
                        {{ key }}: {{ item.label }}
                    </div>
                    <div class="right">

                        <div class="recv">
                            <div class="label_title">发送消息配置</div>
                            <div class="line">
                                AgentId:<span>{{ item.agentid }}</span>
                            </div>
                            <div class="line">
                                Secret:<span>******</span>
                            </div>
                        </div>
                        <div class="send">
                            <div class="label_title">接收消息配置</div>
                            <div class="line">
                                URL:<span>{{ item.URL }}</span>
                            </div>
                            <div class="line">
                                Token:<span>{{ item.Token }}</span>
                            </div>
                            <div class="line">
                                EncodingAESKey:<span>{{ item.EncodingAESKey.decode() }}</span>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>

    </main>
    <footer>
        <nav class="frame_foot_nav">
            <a class="frame_foot_nav_item" href="http://www.tencent.com/" target="_blank">关于腾讯</a>
            <span class="frame_foot_nav_itemDep">|</span>
            <a class="frame_foot_nav_item" href="http://www.fengfengzhidao.com/about/" target="_blank">关于枫枫知道</a>
            <span class="frame_foot_nav_itemDep">|</span>
            <a class="frame_foot_nav_item" href="https://work.weixin.qq.com/nl/norm" target="_blank">使用规范</a>
            <span class="frame_foot_nav_itemDep">|</span>
            <a class="frame_foot_nav_item"
               href="https://work.weixin.qq.com/wework_admin/app_intro_list?type=mng&from=frame_footer"
               target="_blank">更新日志</a>
            <span class="frame_foot_nav_itemDep">|</span>
            <a class="frame_foot_nav_item" href="https://work.weixin.qq.com/help" target="_blank">帮助中心</a>
        </nav>
        <p class="frame_foot_copyright">© 1998&nbsp;-&nbsp;2022&nbsp;Tencent Inc. All Rights Reserved</p></footer>
</div>
</body>
</html>